.post {
    width: 50%;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    border : 1px solid rgba(211, 222, 220, 0.6);
}

.title {
    text-align: center;
    background-color: rgba(211, 222, 220, 0.6);
    padding: 30px 0px;
    text-transform: capitalize;
    position: relative;
    font-size: 1.5rem;
}

.footer {
    background-color: rgba(211, 222, 220, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
} 
.footer img {
    margin-left: auto;
}
.date {
    margin-left: 20px;
    font-style: italic;
    color: darkgray;
}
.content {
    padding: 10px;
}
.eye {
    cursor: pointer;
}

.post-moderation {
    position: absolute;
    right: 20px;
    top: calc(50% - 15px);
    display: flex;
    gap: 10px;
}

.post-moderation > img {
    height: 30px;
}

.post-moderation > img:first-child {
    height: 25px;
}